.App {
  font-family: Arial, sans-serif;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Header {
  background-color: #343a40;
  color: #FFFFFF;
  padding: 20px;
}

.Header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.Header ul li {
  margin-right: 10px;
}

.Header ul li a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.Header ul li a:hover {
  background-color: #FFFFFF;
  color: #343a40;
}

.MainContent {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MainContainer {
  background-color: #343a40;
  border-radius: 5px;
  padding: 20px;
  color: white;
}

.StartButton,
.OptionButton {
  background-color: #00d6a7;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  padding: 15px 30px;
  margin: 10px;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
}

.StartButton,
.OptionButton {
  background-color: #00d6a7;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  padding: 15px 30px;
  margin: 10px;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  width: auto;
}

.GameResult {
  font-size: 3em;
  text-align: center;
  margin-top: 1em;
}

.GameResult.win {
  color: green;
}

.GameResult.lose {
  color: red;
}

.Footer {
  background-color: #343a40;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700';
html {
  font-size: 1rem;
}

body {
  background: #f0f2f2;
}

.bracket {
  display: inline-block;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 0;
  position: absolute;
}
.bracket .round {
  display: inline-block;
  vertical-align: middle;
}
.bracket .round .winners > div {
  display: inline-block;
  vertical-align: middle;
}
.bracket .round .winners > div.matchups .matchup:last-child {
  margin-bottom: 0 !important;
}
.bracket .round .winners > div.matchups .matchup .participants {
  border-radius: 0.25rem;
  overflow: hidden;
}
.bracket .round .winners > div.matchups .matchup .participants .participant {
  box-sizing: border-box;
  color: #858585;
  border-left: 0.25rem solid #858585;
  background: white;
  width: 14rem;
  height: 3rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.bracket .round .winners > div.matchups .matchup .participants .participant.winner {
  color: #60c645;
  border-color: #60c645;
}
.bracket .round .winners > div.matchups .matchup .participants .participant.loser {
  color: #dc563f;
  border-color: #dc563f;
}
.bracket .round .winners > div.matchups .matchup .participants .participant:not(:last-child) {
  border-bottom: thin solid #f0f2f2;
}
.bracket .round .winners > div.matchups .matchup .participants .participant span {
  margin: 0 1.25rem;
  line-height: 3;
  font-size: 1rem;
  font-family: "Roboto Slab";
}
.bracket .round .winners > div.connector.filled .line, .bracket .round .winners > div.connector.filled.bottom .merger:after, .bracket .round .winners > div.connector.filled.top .merger:before {
  border-color: #60c645;
}
.bracket .round .winners > div.connector .line, .bracket .round .winners > div.connector .merger {
  box-sizing: border-box;
  width: 2rem;
  display: inline-block;
  vertical-align: top;
}
.bracket .round .winners > div.connector .line {
  border-bottom: thin solid #c0c0c8;
  height: 4rem;
}
.bracket .round .winners > div.connector .merger {
  position: relative;
  height: 8rem;
}
.bracket .round .winners > div.connector .merger:before, .bracket .round .winners > div.connector .merger:after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  border: 0 solid;
  border-color: #c0c0c8;
}
.bracket .round .winners > div.connector .merger:before {
  border-right-width: thin;
  border-top-width: thin;
}
.bracket .round .winners > div.connector .merger:after {
  border-right-width: thin;
  border-bottom-width: thin;
}
.bracket .round.quarterfinals .winners:not(:last-child) {
  margin-bottom: 2rem;
}
.bracket .round.quarterfinals .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 2rem;
}
.bracket .round.semifinals .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 10rem;
}
.bracket .round.semifinals .winners .connector .merger {
  height: 16rem;
}
.bracket .round.semifinals .winners .connector .line {
  height: 8rem;
}
.bracket .round.finals .winners .connector .merger {
  height: 3rem;
}
.bracket .round.finals .winners .connector .line {
  height: 1.5rem;
}

.bracketContainer {
  padding-top: 300px;
  padding-bottom: 250px;
  justify-content: center;
  align-items: center;
}

.Modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}